/* /////////////////////////////////////////////////// over all app styling, body, colors, font ///////////////// */
body {
    margin: 0;

}

a {
    color: white;
}

button, .btn, .btn-large {
    background-color: #3f0080;
    border: 1px solid white;
    color: white
}

.btn:hover {
    background-color: #3f0080;
}

.app {
     background-color: gray;
     /* text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.767); */
     color: black;
     width: 100vw;
     min-height: 100vh;
     position: absolute;
     font-family: sans-serif;
     font-size: 20px;
     padding: 0;
     text-align: center;
     margin: 0
 }


/* ////////////////////////////////////////// header and hamburger nav section ///////////////////// */
.menu-button {
    display: inline-block;
    position: relative;
    left: 2px;
    height: 50px;
    width: 50px;

    border: 1px solid white;
    border-radius: 10%;
    cursor: pointer;
    background-color: #242323;
    bottom: 8px;
    right: 30px
}

.menu-button:hover {
    background-color: black;
}

.menu-button:hover div:nth-child(1),
.menu-button:hover div:nth-child(2),
.menu-button:hover div:nth-child(3) {
    border-color: white;
}

.menu-button div:nth-child(1),
.menu-button div:nth-child(2),
.menu-button div:nth-child(3){
    border: 2px solid white;
    margin: 0px 1px;
}

.menu-button div:nth-child(2),
.menu-button div:nth-child(3){
    margin-top: 4px;
}

.header-container {
    position: fixed;
    right: 0;
    z-index: 9001;
    border: 1px solid white;
    color: white;
    background: black;
    display: inline-block;
    width: 100%;
    height: 15%;
    box-sizing: border-box;
    margin: 0;
    padding: 18px, 0px;
}

.header-logo {
    display: inline-block;
    position: relative;
    width: 59%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    font-size: 1.75em;
}

#header-sign-in {
    color: white;
    width: 15%;
    box-sizing: border-box;
    border: 1px solid white;
    background-color: #3f0080;
    display: inline-block;
    position: relative;
    font-size: 0.6em;
    padding: 0;
    right: 3px;
}
/*   ////////////////////////////////  hamburger nav ///////////////////////////////////////// */
.nav-container {
    position: absolute;
    /* background-color: rgba(63, 63, 63); */
    background: linear-gradient(to bottom right, #11100e, #b99bc9);
    border: 3px solid white;
    text-align: left;
    z-index: 10;
    font-size: 16px;
    box-sizing: border-box;
    margin: 85px 0;
    height: 700%;
    width: 70%;
}

.nav-links {
    box-sizing: border-box;
    list-style-type: none;
}


/* ////////////////////////////////////// over all ul, li styling ////////////////////////////*/
ul {
    list-style-type: none;
    padding: 10px
}

li {
    margin: 28px;
    color: white;
    border-bottom: 1px solid black;
}

/*////////////////////////////////////// add review secdtion //////////////////////////////// */

.add-review {
    background: #a49aab;
    position: fixed;
    height: 85%;
    width: 100%;
    top: 10%;
}

/* /////////////////////////////////////// flavor modal //////////////////////////////////////// */

.flavor-body {
    border: 1px solid white;
    background-color: #11100e;
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 22%
}

.dropdown {
    position: relative;
    margin: 15%;
}

.flavor-header {
    margin-top: 10px;
}

/* /////////////////////////////////////////landing page //////////////////////////////// */

.landing-page-body, .multiple-results-body {
    position: relative;
    top: 15vh;
}

/* //////////////////////////////////////// mulitple results card /////////////////// */


.product-detail, .description, .product-info, .row {
    border: 1px solid white
}
