/* /////////////////////////////////////////////////// over all app styling, body, colors, font ///////////////// */
body {
    margin: 0;

}

a {
    color: white;
}

button, .btn, .btn-lg {
    background-color: #2a0d30;
    border: 1px solid white;
    font-size: 15px;
    color: white
}

.btn:hover {
    background-color: #3f0080;
    color: white
}

.app {
     background-image: url(../images/Juice-Query-Temp-Background.png);
     background-size: cover;
     /* text-shadow: 1px 2px 2px rgba(255, 255, 255, 0.767); */
     color: black;
     width: 100vw;
     min-height: 100vh;
     position: absolute;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     padding: 0;
     text-align: center;
     margin: 0
 }


.add-review {
    position: fixed;
    height: 85%;
    width: 100%;
    top: 10%;
}

/* /////////////////////////////////////// flavor modal //////////////////////////////////////// */

.flavor-body {
    border: 1px solid white;
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 22%
}

.dropdown {
    position: relative;
    margin: 15%;
}

.flavor-header {
    margin-top: 10px;
}

/* /////////////////////////////////////////landing page //////////////////////////////// */

.landing-page-body, .multiple-results-body {
    position: relative;
}

/* /////////////////////////////////////////Single Results Page //////////////////////////////// */

.single-results-display {
    position: relative;
    top: 15vh;
}

.single-results-item {
    min-height: 40vh;
}

.single-results-description {
    font-size: 15px;
    color: white;
}
.single-results-image-container {

}
.single-results-stars-container {

    display: inline-block;


}
.single-results-image {
    height: 250px;
}

 @media (max-width:576px ){
     .single-results-image {
         height: 135px;
     }
     .single-results-stars {

     }
}


/* //////////////////////////////////////// mulitple results card /////////////////// */


.product-detail, .description, .product-info, .row {
    border: 1px solid white
}

/* //////////////////////////////// Colors //////////////////////////////// */

.golden {
    background-color: #a67c00;
}

.purpleWhite {
    background-color: #f8f4ff;
}

.purpleSolid {
    background-color: #5e2053;
}
.darkPurple {
    background-color: #2a0d30;
}
.charcoal {
    background-color: #12100e;
}
.blacker {
    background-color: #000000;
}

/* //////////////////////////////// Fonts ////////////////////////////// */

@font-face {
    font-family: titanicfont;
    src: url(../fonts/TitanickDisplayNF.ttf);
}

.titanicFont {
    font-family: titanicfont;
}

.goldenFont {
    background-image: linear-gradient(#a67c00, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Nav Bar */
