/* /////////////////////////////////////////////////// over all app styling, body, colors, font ///////////////// */
body {
    margin: 0;


}

a {
    color: black;
}

button, .btn, .btn-lg {
    background-color: #2a0d30;
    border: 1px solid white;
    font-size: 15px;
    color: white
}

.btn:hover {
    background-color: #3f0080;
    color: white
}

.app {
     background-image: url(../images/Juice-Query-Temp-Background.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-attachment: fixed;
     color: black;
     width: 100vw;
     min-height: 100vh;
     position: relative;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-size: 20px;
     padding: 0;
     text-align: center;
     margin: 0
 }


.add-review {
    position: fixed;
    height: 85%;
    width: 100%;
    top: 10%;
}

/* /////////////////////////////////////////landing page //////////////////////////////// */

.landing-page-body, .multiple-results-body {
    position: relative;
}

/* /////////////////////////////////////////Single Results Page //////////////////////////////// */

.juice-bottle-wrapper {
    display: inline-block;
    /*border: black 1px solid;*/
    background-color: #12100e;
    box-shadow: #420842 0px 0px 20px 8px;

}

.single-results-written-content {

    padding-top: 7px;

}

.single-results-name {
    text-shadow: #420842 2px 2px 20px;
    color: white;


}
.single-results-display {
    position: relative;
    top: 15vh;
}

.single-results-item {
    min-height: 40vh;
    box-shadow: #ffc900 0px 0px 0px 2px;
    background: linear-gradient(to bottom right,#a696c2, white);
}

.single-results-description {
    font-size: 16px;
    color: black;
    text-align: justify;

}
.single-results-image-container {
    position: relative;
    top: 5.7%;
}

.single-results-item-text {
    letter-spacing: 1px;
    font-family: lato;


}
.single-results-stars-container {

    display: inline-block;


}
.single-results-image {
    height: 250px;
}

 @media (max-width:576px ){
     .single-results-image-container {
         top: 4.5%;

     }
     .single-results-image {
         height: 135px;
     }

}

@media (max-width: 768px) {
    .single-results-image {
        height: 135px;
    }


}
/* /////////////////////////////////////////Juice ReviewsPage //////////////////////////////// */


.juice-reviews-stars {
    display: inline-block;
}

.juice-review-container {
    box-shadow: #ffc900 0px 0px 0px 2px;
    background: linear-gradient(to bottom right,#a696c2, white);


}




/* //////////////////////////////////////// mulitple results card /////////////////// */

.multiple-results-body {
    top: 5vh;

}

#multiple-container, #product-info-main, .card-container {
    height: 25vh;
    background: linear-gradient(to bottom right,#a696c2, white);
    border-radius: 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.product-detail {
    border-bottom: 1px solid black;
}

.card-container {
    box-shadow: #ffc900 0px 0px 0px 2px;

}

.product-detail, .description, .product-info, .row, .rating-container{
    overflow: hidden;
}

.name, .multiple-results-header {
    margin-top: 5px;
    color: white;
}

.rating, .juice-description{
    margin-top: 5px;
    font-size: 1rem;
   
}

.mult-advanced-button {
    margin-top: 10%
}




/* //////////////////////////////// Colors //////////////////////////////// */


.brightGold {
   background-color:  #ffc900;
}


.golden {
    background-color: #a67c00;
}

.purpleWhite {
    background-color: #f8f4ff;
}

.purpleSolid {
    background-color: #5e2053;
}
.darkPurple {
    background-color: #2a0d30;
}
.charcoal {
    background-color: #12100e;
}
.blacker {
    background-color: #000000;
}

/* //////////////////////////////// Fonts ////////////////////////////// */

@font-face {
    font-family: titanicfont;
    src: url(../fonts/TitanickDisplayNF.ttf);
}

.titanicFont {
    font-family: titanicfont;
}

.goldenFont {
    background-image: linear-gradient(#a67c00, #ffcc00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Nav Bar */


.header-container {
    box-shadow: #ffc900 0px 0px 0px 2px;
    color: #ffc900;
}

.navbar-dark .navbar-nav .nav-link.nav-link-text {
    color: #ffc900;
}

/*.nav-link-text {*/
    /*color: gold;*/
/*}*/
/* Create Acount and Sign In */
.link{
    color:#5e2053;
     display:block
}
.link:hover{
    color: #12100e;
    text-decoration: none
}

/* //////////////////////////////// stars styling ////////////////////////////// */


.stars{
    text-shadow:  #12100e 1px 1px
}

.h1 {
    font-size: 2.5rem
}