/* /////////////////////////////////////// flavor modal //////////////////////////////////////// */

/* .flavor-body {
    border: 1px solid white;
    background-color: #11100e;
    color: white;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: 22%
}

.dropdown {
    position: relative;
    margin: 15%;
}

.flavor-header {
    margin-top: 10px;
} */

.flavor-body {
    padding-top: 35vh;
}
